@model IEnumerable<SadiShop.Models.DonDatHang>

@{
    ViewBag.Title = "Lịch Sử Đơn Hàng - SadiShop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="preloader_hide">
    <div id="page">
        <!-- BREADCRUMBS -->
        <section class="breadcrumb parallax margbot30"></section>
        <h1 class="center">LỊCH SỬ ĐƠN HÀNG</h1>
        <table class="table table-hover" style="margin-left:20px;margin-right:20px; font-size: 16px">
            <tr>
                <th>
                    Ngày đặt
                </th>
                <th>
                    Thành Tiền
                </th>
                <th>
                    Tình trạng đơn hàng
                </th>
                <th>Tùy chọn</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="font-size: 16px">
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDatHang)
                    </td>
                    <td>
                        @String.Format("{0:0,0}", item.ThanhTien) VNĐ
                    </td>
                    <td>
                        @if (item.MaTinhTrang == 1)
                        {
                            <span class="btn-info" style="padding:5px">@Html.DisplayFor(modelItem => item.TinhTrang.TenTinhTrang)</span> 
                        }
                        @if (item.MaTinhTrang == 2)
                        {
                            <span class="btn-primary" style="padding:5px">@Html.DisplayFor(modelItem => item.TinhTrang.TenTinhTrang)</span>
                        }
                        @if (item.MaTinhTrang == 3)
                        {
                            <span class="btn-success" style="padding:5px">@Html.DisplayFor(modelItem => item.TinhTrang.TenTinhTrang)</span>
                        }
                        @if (item.MaTinhTrang == 4)
                        {
                            <span class="btn-danger" style="padding:5px">@Html.DisplayFor(modelItem => item.TinhTrang.TenTinhTrang)</span>
                        }
                        
                    </td>
                    <td>
                    @*<a href="@Url.Action("ChiTietDonHang", "GioHang", new { id = item.MaDonDatHang })">Chi tiết</a>*@
                    <button class="btn-default" style="padding:5px">@Html.ActionLink("Chi tiết đơn hàng", "ChiTietDonHang", new {id = item.MaDonDatHang })</button> | 
                        @if (item.MaTinhTrang == 1)
                        {
                           <button class="btn-warning" style="padding:5px">@Html.ActionLink("Hủy đơn hàng", "HuyDonHang", new { id = item.MaDonDatHang })</button> 
                        }
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
