@{
    ViewBag.Title = "Trang chủ - Sadi Shop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="preloader_hide">
    <div id="page">
        <!-- HOME -->
        <section id="home" class="padbot0">

            <!-- TOP SLIDER -->
            <div class="flexslider top_slider">
                <ul class="slides">
                    <li class="slide1">

                        <!-- CONTAINER -->
                        <div class="container">
                            <div class="flex_caption1">
                                <p class="title1 captionDelay2 FromTop" style="color:white">Giảm 50%</p>
                                <p class="title2 captionDelay3 FromTop" style="color:white">Tuần lễ khuyến mãi</p>
                            </div>
                            <a class="flex_caption2" href="~/Shop/Sale"><div class="middle">Thỏa<span>sức</span>mua</div></a>
                            <div class="flex_caption3 slide_banner_wrapper">
                                <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner1.jpg" alt="" /></a>
                                <a class="slide_banner slide1_banner2 captionDelay5 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner2.jpg" alt="" /></a>
                                <a class="slide_banner slide1_banner3 captionDelay6 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner3.jpg" alt="" /></a>
                            </div>
                        </div><!-- //CONTAINER -->
                    </li>

                    <li class="slide2">

                        <!-- CONTAINER -->
                        <div class="container">
                            <div class="flex_caption1">
                                <p class="title1 captionDelay2 FromTop">Giảm 50%</p>
                                <p class="title2 captionDelay3 FromTop">Tuần lễ khuyến mãi</p>
                            </div>
                            <a class="flex_caption2" href="~/Shop/Sale"><div class="middle">Thỏa<span>sức</span>mua</div></a>
                            <div class="flex_caption3 slide_banner_wrapper">
                                <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner1.jpg" alt="" /></a>
                                <a class="slide_banner slide1_banner3 captionDelay5 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner3.jpg" alt="" /></a>
                                <a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner2.jpg" alt="" /></a>
                            </div>
                        </div><!-- //CONTAINER -->
                    </li>

                    <li class="slide3">

                        <!-- CONTAINER -->
                        <div class="container">
                            <div class="flex_caption1">
                                <p class="title1 captionDelay2 FromTop">Giảm 50%</p>
                                <p class="title2 captionDelay3 FromTop">Tuần lễ khuyến mãi</p>
                            </div>
                            <a class="flex_caption2" href="~/Shop/Sale"><div class="middle">Thỏa<span>sức</span>mua</div></a>
                            <div class="flex_caption3 slide_banner_wrapper">
                                <a class="slide_banner slide1_banner3 captionDelay4 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner3.jpg" alt="" /></a>
                                <a class="slide_banner slide1_banner1 captionDelay5 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner1.jpg" alt="" /></a>
                                <a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);"><img src="~/images/slider/slide1_baner2.jpg" alt="" /></a>
                            </div>
                        </div><!-- //CONTAINER -->
                    </li>
                </ul>
            </div><!-- //TOP SLIDER -->
        </section><!-- //HOME -->
        <!-- TOVAR SECTION -->
        <section class="tovar_section">

            <!-- CONTAINER -->
            <div class="container">
                <h2>Sản phẩm đặc sắc</h2>
                <!-- ROW -->
                <div class="row">
                    <!-- TOVAR WRAPPER -->
                    <div class="tovar_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <!-- BANNER -->
                        <div class="col-lg-3 col-md-3 col-xs-6 col-ss-12">
                            <a class="banner type3 margbot40" href="javascript:void(0);"><img src="~/images/tovar/banner3.jpg" alt="" /></a>
                        </div><!-- //BANNER -->
                        <div class="respond_clear_768"></div>
                        @foreach (var sanpham in Model)
                        {
                        <!-- TOVAR4 -->
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot40">
                                <div class="tovar_item">
                                    <div class="tovar_img">
                                        <div class="tovar_img_wrapper">
                                            <img class="img" src="~/images/hinhsanpham/@sanpham.Hinh1" alt="" />
                                            <img class="img_h" src="~/images/hinhsanpham/@sanpham.Hinh1" alt="" />
                                        </div>
                                        <div class="tovar_item_btns">
                                            <div class="open-project-link"><a class="open-project tovar_view" href="javascript:void(0);"  data-url="@Url.Action("XemNhanh","Shop", new { id = sanpham.MaSanPham })">xem nhanh</a></div>
                                            <a class="add_bag" href="@Url.Action("ThemGioHang","GioHang", new { @sMaSanPham = @sanpham.MaSanPham, strURL= Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i></a>
                                           
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix">
                                        <a class="tovar_title" href="@Url.Action("ChiTiet", "Shop", new { id = sanpham.MaSanPham })">@sanpham.TenSanPham</a>
                                        <span class="tovar_price">@String.Format("{0:0,0}", sanpham.GiaBan) VNĐ</span>
                                    </div>
                                </div>
                            </div><!-- //TOVAR4 -->
                        }
                    </div><!-- //TOVAR WRAPPER -->
                            <div class="respond_clear_768"></div>
                            <!-- BANNER -->
                            <div class="col-lg-3 col-md-3 col-xs-6 col-ss-12">
                                <a class="banner type1 margbot30" href="javascript:void(0);"><img src="~/images/tovar/banner1.jpg" alt="" /></a>
                                <a class="banner type2 margbot40" href="javascript:void(0);"><img src="~/images/tovar/banner2.jpg" alt="" /></a>
                            </div><!-- //BANNER -->
                        </div><!-- //ROW -->
                        <!-- ROW -->
                        <div class="row">

                            <!-- BANNER WRAPPER -->
                            <div class="banner_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>
                                <!-- BANNER -->
                                <div class="col-lg-9 col-md-9">
                                    <a class="banner type4 margbot40" href="javascript:void(0);"><img src="~/images/tovar/banner4.jpg" alt="" /></a>
                                </div><!-- //BANNER -->
                                <!-- BANNER -->
                                <div class="col-lg-3 col-md-3">
                                    <a class="banner nobord margbot40" href="javascript:void(0);"><img src="~/images/tovar/banner5.jpg" alt="" /></a>
                                </div><!-- //BANNER -->
                            </div><!-- //BANNER WRAPPER -->
                        </div><!-- //ROW -->
                    </div><!-- //CONTAINER -->
        </section><!-- //TOVAR SECTION -->
        <!-- NEW ARRIVALS -->
        <section class="new_arrivals padbot50">

            <!-- CONTAINER -->
            <div class="container">
                <h2>xu hướng mới</h2>

                <!-- JCAROUSEL -->
                <div class="jcarousel-wrapper">

                    <!-- NAVIGATION -->
                    <div class="jCarousel_pagination">
                        <a href="javascript:void(0);" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:void(0);" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a>
                    </div><!-- //NAVIGATION -->

                    <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <ul>
                            @Html.Action("XuHuongMoi", "Shop")
                        </ul>
                    </div>
                </div><!-- //JCAROUSEL -->
            </div><!-- //CONTAINER -->
        </section><!-- //NEW ARRIVALS -->
        <!-- BRANDS -->
        <section class="brands_carousel">

            <!-- CONTAINER -->
            <div class="container">

                <!-- JCAROUSEL -->
                <div class="jcarousel-wrapper">

                    <!-- NAVIGATION -->
                    <div class="jCarousel_pagination">
                        <a href="javascript:void(0);" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
                        <a href="javascript:void(0);" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a>
                    </div><!-- //NAVIGATION -->

                    <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <ul>
                            <li><a href="javascript:void(0);"><img src="~/images/brands/1.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/brands/2.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/brands/3.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/brands/4.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/brands/5.jpg" alt="" /></a></li>
                            <li><a href="javascript:void(0);"><img src="~/images/brands/6.jpg" alt="" /></a></li>

                        </ul>
                    </div>
                </div><!-- //JCAROUSEL -->
            </div><!-- //CONTAINER -->
        </section><!-- //BRANDS -->
    </div>
</div>
