@model SadiShop.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng Ký - SadiShop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- MY ACCOUNT PAGE -->
<section class="my_account parallax img_res">

    <!-- CONTAINER -->
    <div class="container">

        <div class=" clearfix">
            <div class="login" style="background-color: #fff; margin-bottom: 54px;margin-left: 200px;margin-right: 200px;">
                <h2 style="text-align: center;padding-top: 20px;">ĐĂNG KÝ TÀI KHOẢN</h2>
                <div class="login_form" action="javascript:void(0);" style=" width: 50%; margin: auto;padding-bottom: 20px;">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.FullName, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Đăng ký" />
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>

        <div class="my_account_note center">Bạn cần hỗ trợ? <b>(+84) 1205 070 996</b></div>
    </div><!-- //CONTAINER -->
</section><!-- //MY ACCOUNT PAGE -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
